.inputs {
  display: flex;
}

.inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.example {
  margin: 20px;
  border: 1px solid grey;
  padding: 30px;
}